body {
    background-color: rgba(224, 200, 200, 0.305);
}

/* p:active {
    background-color: aqua;
} */

a:visited {
    background-color: blueviolet;
}

.two:target {
    color: cornflowerblue;
}

p::first-letter {
    text-transform: uppercase;
    background-color: aqua;

    font-size: larger;
    font-weight: bolder;
}

p::before {
    content: 'before ';
    text-transform: uppercase;
}

@media screen and (max-width:600px) {
    .div {
        width: 900px;
    }
}