body {
    background-color: antiquewhite;
}

h1 {
    text-align: justify;

}

.one {
    text-align: justify;
}

#va {
    vertical-align: super;
}

i {
    text-decoration-line: underline;
    text-transform: uppercase;
}

/* text-indent */
p {
    text-indent: 100px;


    /* The word-spacing property increases or decreases the white space between words. */
    white-space: -20px;
}

.ts1 {
    text-shadow: 2px 2px;
}

.ts2 {
    text-shadow: 2px 2px 2px rgb(224, 99, 99);
}

.ts3 {
    color: antiquewhite;
    text-shadow: 2px 2px 0.2px black;
}

.red-neon {
    text-shadow: 0 0 1px red, 0 0 1px blueviolet;
}