/* left .border */
.border {
    background-color: #ddffff;
    /* left border; */
    border-color: lightskyblue;
    border-width: 0 0 0 4px;
    border-style: solid;
    /* padding: 3px; */
}

/* border style and color is must */

.para {
    border-style: solid;
    border-color: rgb(91, 88, 88) cyan rebeccapurple red;
    border-width: 4px;

    border-radius: 20px;
    padding: auto;
}

.tb {

    background-color: burlywood;

    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: cadetblue;

    margin: 20px;
}

.outline {
    border: 2px solid black;
    outline: 2px solid red;

    /* outline-offset:  is the space between whole box(content, padding, border, margin) */
    outline-offset: 5px;
}