.grid {
    /* display: grid; */
    display: inline-grid;
    /* row-gap: for gap between row; */
    /* column-gap: for gap between  column; */
    /*
     grid-column-start: 1; // line-between column
    grid-column-end: 4;  
    means where to start the column
    */

    grid-column-start: 1;
    grid-column: 1/5;

    background-color: lightblue;

    width: 300px;
    height: 1000px;
    color: white;

    text-align: center;
}

.grid-items {
    background-color: blueviolet;
    margin: 10px;
}